@using MPocket.Utils
@using EntityDatabase.Models
@using MPocketCommon.Helpers
@model MPocket.ViewsModel.BudgetViewModel

@using (Html.BeginForm("Load", "History"))
{
    <table class="table">
        <thead>
            <tr>
                <th>Budżet początkowy</th>
                <th>Data początku</th>
                <th>Data końca</th>
                <th>Załaduj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Budget)
            {
                SessionManager session = new SessionManager();

                string left = string.Empty;
                string right = string.Empty;
                string style = string.Empty;
                if (b.Id == session.Get<Budget>(PageConstant.BUDGET_ID_IN_SESSION).Id)
                {
                    left = "<strong>";
                    right = "</strong>";
                    style = "border:2px solid green";
                }
                <tr style="@Html.Raw(style)">
                    
                    <td>@Html.Raw(left)@b.StartBudget@Html.Raw(right)</td>
                    <td>@Html.Raw(left)@b.StartDate.ToShortDateString()@Html.Raw(right)</td>
                    <td>@Html.Raw(left)@b.EndDate.ToShortDateString()@Html.Raw(right)</td>
                    <td><input type="checkbox" name="selected" value="@b.Id" id="@b.Id" /></td>
                    
                </tr>
               
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-default">Wczytaj</button>
}


