@model MPocket.Models.BudgetModel
@{
    ViewBag.Title = "Index";
}
<br />
@using (@Html.BeginForm("Index", "Budget"))
{
    <div class="form-group">
        <div class="form-group">
            <label>Budżet</label>
            @Html.TextBoxFor(m => m.StartBudget, new { @class = "form-control", @style = "width:150px" })
        </div>
        <div class="form-group">
            <label>Aktualny budżet</label>
            @Html.TextBoxFor(m => m.CurrentBudget, new { @class = "form-control", @disabled = "disabled", @style = "width:150px" })
        </div>   
    </div>
    <div class="form-group form-inline">
        <div class="form-group">
            <label>Początek okresu</label>
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="form-group">
            <label>Koniec okresu</label>
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <input type="submit" class="btn btn-default" value="Aktualizuj"/>
}


