<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPocket</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*@RenderBody()*@
    @Html.Partial("_NavBar")
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-0">
                @Html.Partial("LeftMenu")
            </div>
            <div class="col-md-8">
                @Html.Partial("CentralView")
            </div>
        </div>
    <footer class="navbar-fixed-bottom panel-footer">
        <p>&copy; @DateTime.Now.Year - MPocket application by Tomasz Kaczmarek</p>
    </footer>
    </div>
</body>
</html>



